<p>
  It&rsquo;s currently <span class="summary">{{forecastData.currently.summary}}</span>
  and <span class="temp">{{forecastData.currently.temperature}}&deg;</span>
  <span class="apparent-temp">(feels like {{forecastData.currently.apparentTemperature}}&deg;)</span>
  in {{zipInfo.zip}} ({{zipInfo.city}}, {{zipInfo.state}}).
</p>
<p class="start-over"><a href="..">Enter another ZIP code</a>
