<h1>Weather for {{zipInfo.zip}} ({{zipInfo.city}}, {{zipInfo.state}})</h1>
<p>Currently {{forecastData.currently.summary}} and {{forecastData.currently.temperature}}&deg; (feels like {{forecastData.currently.apparentTemperature}}&deg;).</p>
